In [1]:
import pandas as pd

In [4]:
df_lstm = pd.read_json('result_datas/lstm.json')
df_gru = pd.read_json('result_datas/gru.json')
df_tcn = pd.read_json('result_datas/tcn.json')

df_gru_05 = pd.read_json('result_datas/gru_0.5.json')
df_gru_oos_05 = pd.read_json('result_datas/gru_oos_0.5.json')
df_lstm_05 = pd.read_json('result_datas/lstm_0.5.json')
df_lstm_oos_05 = pd.read_json('result_datas/lstm_oos_0.5.json')
df_tcn_05 = pd.read_json('result_datas/tcn_0.5.json')
df_tcn_oos_05 = pd.read_json('result_datas/tcn_oos_0.5.json')

df_gru_04 = pd.read_json('result_datas/gru_0.4.json')
df_gru_oos_04 = pd.read_json('result_datas/gru_oos_0.4.json')
df_lstm_04 = pd.read_json('result_datas/lstm_0.4.json')
df_lstm_oos_04 = pd.read_json('result_datas/lstm_oos_0.4.json')
df_tcn_04 = pd.read_json('result_datas/tcn_0.4.json')
df_tcn_oos_04 = pd.read_json('result_datas/tcn_oos_0.4.json')

df_gru_06 = pd.read_json('result_datas/gru_0.6.json')
df_gru_oos_06 = pd.read_json('result_datas/gru_oos_0.6.json')
df_lstm_06 = pd.read_json('result_datas/lstm_0.6.json')
df_lstm_oos_06 = pd.read_json('result_datas/lstm_oos_0.6.json')
df_tcn_06 = pd.read_json('result_datas/tcn_0.6.json')
df_tcn_oos_06 = pd.read_json('result_datas/tcn_oos_0.6.json')

df_gru_07 = pd.read_json('result_datas/gru_0.7.json')
df_gru_oos_07 = pd.read_json('result_datas/gru_oos_0.7.json')
df_lstm_07 = pd.read_json('result_datas/lstm_0.7.json')
df_lstm_oos_07 = pd.read_json('result_datas/lstm_oos_0.7.json')
df_tcn_07 = pd.read_json('result_datas/tcn_0.7.json')
df_tcn_oos_07 = pd.read_json('result_datas/tcn_oos_0.7.json')

In [8]:
f1_lstm = []
for i in range(len(df_lstm)):
    f1_lstm.append((2 * df_lstm.iloc[i].recall * df_lstm.iloc[i].precision) / (df_lstm.iloc[i].recall + df_lstm.iloc[i].precision))

In [9]:
df_lstm['f1-score'] = f1_lstm

In [14]:
is_df_lstm = df_lstm.loc[df_lstm.index != 150]
oos_df_lstm = df_lstm.loc[df_lstm.index == 150]

In [16]:
is_df_gru = df_gru.loc[df_gru.index != 150]
oos_df_gru = df_gru.loc[df_gru.index == 150]

is_df_tcn = df_tcn.loc[df_tcn.index != 150]
oos_df_tcn = df_tcn.loc[df_tcn.index == 150]

In [18]:
is_df_lstm.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.865778    0.814453    0.831745
std      0.122243    0.133039    0.113057
min      0.200000    0.312500    0.300000
25%      0.808333    0.735185    0.780398
50%      0.900000    0.836022    0.857143
75%      0.966667    0.924444    0.911483
max      1.000000    1.000000    0.983607

In [19]:
is_df_gru.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.857111    0.811016    0.826209
std      0.131096    0.132567    0.116694
min      0.366667    0.389610    0.407407
25%      0.800000    0.732604    0.769780
50%      0.866667    0.833333    0.848461
75%      0.966667    0.906250    0.906250
max      1.000000    1.000000    1.000000

In [20]:
is_df_tcn.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.812000    0.773848    0.780404
std      0.144358    0.170389    0.137689
min      0.400000    0.328125    0.444444
25%      0.700000    0.675676    0.692700
50%      0.833333    0.800000    0.806452
75%      0.933333    0.915761    0.878788
max      1.000000    1.000000    1.000000

In [21]:
oos_df_gru

     recall  precision  f1-score
150    0.53   0.837283  0.649112

In [22]:
oos_df_lstm

     recall  precision  f1-score
150   0.512   0.863406  0.642812

In [23]:
oos_df_tcn

     recall  precision  f1-score
150   0.456   0.844444  0.592208

In [24]:
df_gru_05.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.863111    0.891742    0.872536
std      0.106615    0.099654    0.085961
min      0.500000    0.575000    0.571429
25%      0.800000    0.834677    0.818554
50%      0.866667    0.907670    0.887067
75%      0.966667    0.966379    0.935484
max      1.000000    1.000000    1.000000

In [26]:
df_lstm_05.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.853333    0.893484    0.866105
std      0.126974    0.086159    0.089903
min      0.366667    0.600000    0.536585
25%      0.800000    0.840938    0.820111
50%      0.866667    0.903226    0.883799
75%      0.966667    0.964286    0.931034
max      1.000000    1.000000    1.000000

In [27]:
df_tcn_05.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.819111    0.849382    0.825122
std      0.134909    0.120797    0.106262
min      0.400000    0.409836    0.545455
25%      0.733333    0.770471    0.750906
50%      0.833333    0.869565    0.847458
75%      0.933333    0.939753    0.907625
max      1.000000    1.000000    1.000000

In [29]:
df_tcn_oos_05

                   150
FN          838.000000
FP           70.000000
TN         4430.000000
TP          162.000000
f1-score      0.262987
precision     0.698276
recall        0.162000

In [30]:
df_lstm_oos_05

                   150
FN           60.000000
FP          164.000000
TN         4336.000000
TP           40.000000
f1-score      0.263158
precision     0.196078
recall        0.400000

In [31]:
df_gru_oos_05

                   150
FN          784.000000
FP          101.000000
TN         4399.000000
TP          216.000000
f1-score      0.328018
precision     0.681388
recall        0.216000

In [33]:
df_gru_04.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.867333    0.883534    0.871074
std      0.102865    0.102891    0.086684
min      0.533333    0.534884    0.561404
25%      0.800000    0.828571    0.818554
50%      0.866667    0.906250    0.883799
75%      0.966667    0.964286    0.935484
max      1.000000    1.000000    1.000000

In [36]:
df_lstm_04.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.859778    0.883399    0.864780
std      0.124260    0.091001    0.090237
min      0.366667    0.585366    0.536585
25%      0.800000    0.833333    0.813873
50%      0.900000    0.886752    0.882353
75%      0.966667    0.962963    0.930419
max      1.000000    1.000000    1.000000

In [38]:
df_tcn_04.describe()

           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.820889    0.846430    0.824549
std      0.134976    0.123016    0.107363
min      0.400000    0.409836    0.545455
25%      0.733333    0.770471    0.746822
50%      0.833333    0.866667    0.845604
75%      0.933333    0.939753    0.909091
max      1.000000    1.000000    1.000000

In [39]:
df_tcn_oos_04

                   150
FN          891.000000
FP           42.000000
TN         4458.000000
TP          109.000000
f1-score      0.189401
precision     0.721854
recall        0.109000

In [40]:
df_gru_oos_04

                   150
FN          893.000000
FP           36.000000
TN         4464.000000
TP          107.000000
f1-score      0.187227
precision     0.748252
recall        0.107000

In [41]:
df_lstm_oos_04

                   150
FN           74.000000
FP           77.000000
TN         4423.000000
TP           26.000000
f1-score      0.256158
precision     0.252427
recall        0.260000

In [45]:
print('LSTM:')
print(df_lstm_06.describe())
print('GRU:')
print(df_gru_06.describe())
print('TCN')
print(df_tcn_06.describe())

LSTM:
           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.842889    0.907599    0.866784
std      0.133799    0.080018    0.093652
min      0.366667    0.631579    0.536585
25%      0.766667    0.857143    0.820111
50%      0.866667    0.921538    0.887067
75%      0.933333    0.965517    0.931034
max      1.000000    1.000000    1.000000
GRU:
           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.851111    0.903966    0.871883
std      0.115384    0.094523    0.089296
min      0.466667    0.605263    0.571429
25%      0.766667    0.862069    0.815336
50%      0.866667    0.924501    0.880072
75%      0.966667    0.967742    0.934946
max      1.000000    1.000000    1.000000
TCN
           recall   precision    f1-score
count  150.000000  150.000000  150.000000
mean     0.817556    0.851829    0.825538
std      0.135039    0.121014    0.106674
min      0.400000    0.409836    0.545455
25%      0.733333    0.772120    0.750000
50%      0.833333    0.880570    0.842432
75%      0.933333    0.939753    0.909091
max      1.000000    1.000000    1.000000

In [44]:
print(df_lstm_oos_06)
print()
print(df_gru_oos_06)
print()
print(df_tcn_oos_06)

                   150
FN           49.000000
FP          291.000000
TN         4209.000000
TP           51.000000
f1-score      0.230769
precision     0.149123
recall        0.510000

                   150
FN          667.000000
FP          230.000000
TN         4270.000000
TP          333.000000
f1-score      0.426104
precision     0.591474
recall        0.333000

                   150
FN          756.000000
FP           92.000000
TN         4408.000000
TP          244.000000
f1-score      0.365269
precision     0.726190
recall        0.244000